/* General Styles */
body {
  margin: 0;
  font-family: Exo, sans-serif;
}

.about-us-page {
  width: 100%;
}

/* Rows */
.row {
  display: flex;
  height: 65vh;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
}

.text-box {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center;
  align-items: center;
  background-color: #f3e1c6;
}

.text-box h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: black;
}

.text-box p {
  font-size: 1.2rem;
  color: #555;
  max-width: 80%;
}

/* Ensure spacing between heading and paragraph */
.text-box h1 + p {
  text-align: left;
  margin-top: 0.5rem;
}

/* Image Box */
.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Scrolling Banner */
.scroll-banner {
  background-color: black;
  color: white;
  font-weight: 800;
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.scroll-banner .scroll-content {
  display: flex;
  animation: scroll-left 200s linear infinite; /* Adjust speed as needed */
  white-space: nowrap; /* Prevent line breaks */
}

.scroll-banner span {
  flex-shrink: 0; /* Prevent shrinking */
  margin-right: 70px; /* Space between phrases */
  font-size: 1.2rem;
}

@keyframes scroll-left {
  from {
    transform: translateX(0); /* Start at the beginning */
  }
  to {
    transform: translateX(-50%); /* Move by half the content width */
  }
}
